.filter
  margin-top: 10px
  margin-bottom: 15px
  display: flex
  flex-direction: row
  font-size: 15px
  color: #333333

  input
    font-size: 15px

  .ico
    position: absolute
    top: 11px
    left: 8px

  +m(600)
    flex-direction: column

    .search
      margin-bottom: 15px

