.hamburger
  position: relative
  display: none
  width: 25px
  height: 17px
  transition: .5s ease-in-out
  cursor: pointer
  transition-duration: .22s

  +m(768)
    display: block

  &__el
    display: block
    position: absolute
    left: 0
    height: 3px
    width: 100%
    background-color: #fff
    transition: .25s ease-in-out
    transform-origin: left top

    &:nth-child(1)
      top: -1px

    &:nth-child(2)
      top: 50%
      transform: translateY(-50%)

    &:nth-child(3)
      top: 100%
      transform: translateY(-100%)

  &.open

    .hamburger__el
      left: 4px

      &:nth-child(1)
        top: -2px
        transform: rotate(45deg)

      &:nth-child(2)
        opacity: 0

      &:nth-child(3)
        transform: rotate(-45deg) translateY(-100%)


.mobile-menu
  position: absolute
  height: 160px
  width: 100%
  transition: all .3s ease-in-out
  transform: translateY(-100%)
  background-color: #024ba0
  visibility: hidden
  z-index: 10
  border-bottom: 1px solid transparent
  box-sizing: border-box

  &.is-open
    visibility: visible
    transform: translateY(80px)
    border-bottom-color: #2572c1

  &__top
    padding: 22px 15px

  &__list
    padding: 0 50px
    width: 100%
    display: flex
    flex-direction: column
    align-items: center

  &__el
    width: 100%
    text-align: center

    &:last-child
      .mobile-menu__link
        border-bottom: none

  &__link
    display: block
    height: 54px
    line-height: 54px
    text-transform: uppercase
    border-bottom: 1px solid #2572c1
    +h400

    &:active,
    &:visited,
    &:focus
      color: #fff

  .search
    margin-bottom: 10px