.preview-gallery
  margin-top: 40px

  &__list
    margin-top: 15px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start

    +m(768)
      justify-content: center

  &__el
    margin-right: 20px
    margin-bottom: 20px
    width: 100px

    &:nth-child(6n)
      margin-right: 0

    +m(768)
      max-width: 20%
      &:nth-child(6n)
        margin-right: 20px

    +m(414)
      margin-right: 15px
      margin-bottom: 15px
      &:nth-child(6n)
        margin-right: 15px


  &__link
    display: inline-block

  &__wrap
    display: flex
    flex-direction: row
    align-items: center

  &__all
    margin-left: 50px
    width: 80px
    height: 24px
    line-height: 24px
    font-size: 12px
    color: #fff
    background-color: #1f90f3
    text-align: center
    text-transform: uppercase
    transition: all .3s ease-in-out
    +h700

    &:hover
      background-color: #1e88e5
