<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__left">
        <p class="copyright">© 2018 RomsMode.com. All rights reserved.</p>
      </div><!-- end footer__left -->
      <div class="footer__right">
        <ul class="nav is-footer">
          <li class="nav__el">
            <a href="#" class="nav__link">Home</a>
          </li>
          <li class="nav__el">
            <a href="#" class="nav__link">Roms</a>
          </li>
          <li class="nav__el">
            <a href="#" class="nav__link">Emulators</a>
          </li>
          <li class="nav__el">
            <a href="#" class="nav__link">Contact us</a>
          </li>
          <li class="nav__el">
            <a href="#" class="nav__link">Privacy Policy</a>
          </li>
          <li class="nav__el">
            <a href="#" class="nav__link">Disclaimer</a>
          </li>
        </ul>
      </div><!-- end footer__right -->
    </div><!-- end footer__wrap -->
  </div><!-- end container -->
</footer><!-- end footer -->