<header class="header">
  <div class="header__wrap container">
    <div class="header__left">
      <div class="logo">
        <a href="main_page.html" class="logo__link" title="romsmode">
          <img src="img/logo.png" alt="romsmode"/>
        </a>
      </div><!-- END logo -->
    </div><!-- END header__left -->
    <div class="header__right">
      <div class="hamburger" id="js-menu-toggle">
        <span class="hamburger__el"></span>
        <span class="hamburger__el"></span>
        <span class="hamburger__el"></span>
      </div>
      <div class="mobile-menu">
        <ul class="mobile-menu__list">
          <li class="mobile-menu__el">
            <a href="#" class="mobile-menu__link">Home</a>
          </li>
          <li class="mobile-menu__el">
            <a href="#" class="mobile-menu__link">Roms</a>
          </li>
          <li class="mobile-menu__el">
            <a href="#" class="mobile-menu__link">Emulators</a>
          </li>
        </ul>
      </div><!-- END mobile-menu -->
      <ul class="nav">
        <li class="nav__el">
          <a href="#" class="nav__link">Home</a>
        </li>
        <li class="nav__el">
          <a href="#" class="nav__link">Roms</a>
        </li>
        <li class="nav__el">
          <a href="#" class="nav__link">Emulators</a>
        </li>
      </ul><!-- END nav -->
    </div><!-- END header__right -->
  </div><!-- END header__wrap -->
</header><!-- END header -->
