<div class="hero">
  <div class="container">
    <div class="hero__banner">
      <h1 class="hero__title">
        Play Video Game Roms
        <span>on your Computer or Phone</span>
      </h1>
      <div class="search">
        <div class="search__field">
          <input type="search"
                 class="input js-input is-big"
                 placeholder="What do you want to play today?"/>
        </div>
        <div class="search__action">
          <button class="btn is-search">
            <span>
              <i class="ico is-search"></i>
              Search
            </span>
          </button>
        </div>
      </div><!-- END search -->
    </div><!-- end hero-banner -->
  </div>
</div><!-- END hero -->