<div class="pre-footer">
  <div class="container">
    <div class="pre-footer__wrap">
      <span class="pre-footer__popular">Popular:</span>
      <ul class="pre-footer__list">
        <li class="pre-footer__el">
          <a href="#" class="pre-footer__link">GBA Roms</a>
        </li>
        <li class="pre-footer__el">
          <a href="#" class="pre-footer__link">SNES Roms</a>
        </li>
        <li class="pre-footer__el">
          <a href="#" class="pre-footer__link">NDS Roms</a>
        </li>
        <li class="pre-footer__el">
          <a href="#" class="pre-footer__link">GBC Roms</a>
        </li>
        <li class="pre-footer__el">
          <a href="#" class="pre-footer__link">N64 Roms</a>
        </li>
        <li class="pre-footer__el">
          <a href="#" class="pre-footer__link">NES Roms</a>
        </li>
        <li class="pre-footer__el">
          <a href="#" class="pre-footer__link">PSX ISOs</a>
        </li>
        <li class="pre-footer__el">
          <a href="#" class="pre-footer__link">PSP ISOs</a>
        </li>
        <li class="pre-footer__el">
          <a href="#" class="pre-footer__link">GB Roms</a>
        </li>
        <li class="pre-footer__el">
          <a href="#" class="pre-footer__link">Sega Roms</a>
        </li>
        <li class="pre-footer__el">
          <a href="#" class="pre-footer__link">GameCube Roms</a>
        </li>
        <li class="pre-footer__el">
          <a href="#" class="pre-footer__link">Wii ISOs</a>
        </li>
      </ul>
    </div>
  </div>
</div><!-- end pre-footer -->